$black: #000;
$white: #fff;
$gray: #ddd;
$dark-red: #8b0000;
$dark: #343a40;
$cornsilk: #fff8dc;

button {
  background-color: $dark-red;
  border: 1px solid $black;
  color: $white;
}

input {
  // background-color: $white;
  border: 1px solid $black;
  color: $black;
}

table {
  width: 500px;

  tr {
    th {
      background-color: $dark-red;
      border: 1px solid $black;
      color: $white;
      padding: 8px;
      text-align: left;
    }

    td {
      border: 1px solid $black;
      padding: 8px;
      text-align: left;
    }

    &:nth-child(even) {
      background-color: $gray;
    }

    &:nth-child(odd) {
      background-color: $white;
    }
  }

  .init-col {
    text-align: center;
  }
}

.alert {
  margin: 30px;
}

// ENCOUNTER
.encounter-view {
  width: 100%;
}

.encounter-table {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  h2 {
    margin: 0;
    padding: 1rem;
  }
  p {
    padding: 1rem;
  }
}

.encounter-controls {
  align-items: center;
  background-color: $dark;
  bottom: 0;
  color: $white;
  display: flex;
  font-size: 50px;
  height: 75px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
}

.control-button {
  &:hover {
    text-shadow: 0 0 10px $white;
  }
  &:active {
    color: $dark-red;
    text-shadow: 0 0 10px $dark-red;
  }
}

.encounter-form-container {
  color: $dark;
  width: 100%;
}

.encounter-form-interior {
  display: flex;
  flex-direction: space-between;
  justify-content: flex-end;
  padding: .5rem;
  width: 100%;
  * {
    margin-left: .25rem;
    margin-right: .25rem;
    padding: .5rem;
  }
  input {
    padding: .5rem;
    width: 100%;
  }
  .control-button {
    font-size: 35px;
    padding: 0;
    &:hover {
      text-shadow: 0 0 10px $dark;
    }
    &:active {
      color: $dark-red;
      text-shadow: 0 0 10px $dark-red;
    }
  }
}

.current-turn {
  background-color: lime;
}

// HOME
.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  * {
    margin: 0;
    padding: 1rem;
    width: 500px;
  }
}

.home-form {
  padding: 0;

  input {
    margin-bottom: 1rem;
    text-align: center;
  }

  label {
    height: 0;
    padding: 0;
  }
}
