$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

main {
  display: flex;
  justify-content: center;
}

.container {
  padding: 0;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  width: 400px;

  input,
  button {
    margin-bottom: 5%;
    padding: 1rem;
  }

  h3 {
    margin-bottom: 5%;
  }
}

@media (max-width: 600px) {
  .auth-form {
    padding-left: .5rem;
    padding-right: .5rem;
    width: 100%;
  }
}
